<div class="payment">
	{{#if balanceDue}}
		<div>
			<h3 class="text-center about--h3">Pay {{invoiceNo}}</h3>
		</div>

		<div class="payment__details">
			<h4 class="text-center payment--h4">Billed to {{clientName}}</h4>
			<p class="text-center payment--p {{#if latePayment}}payment--warning{{/if}}">payment due {{paymentInterval}}</p>
			<div class="payment__details__totals">
				<p class="payment--p">Subtotal&nbsp;{{subtotal}}</p>
				<p class="payment--p">State and Local Sales Taxes&nbsp;{{taxAmt}}</p>
				<p class="payment--p{{#unless paymentMade}} payment--total{{/unless}}">Total Due&nbsp;<span id="invoiceTotal">{{invoiceTotal}}</span></p>
				{{#if paymentMade}}
					<p class="payment--p">Payment Made&nbsp;{{paymentMade}}</p>
					<p class="payment--p payment--total">Balance Due&nbsp;<span id="balanceDue">{{balanceDue}}</span></p>
				{{/if}}
			</div>
			<div class="payment__switch__group">
				<div class="payment__switch__container">
					<div class="payment--switch">
						<input type="checkbox" class="payment--checkbox" name="partial-payment" />
						<label for="partial-payment" class="payment--slider"></label>
					</div>
					<span class="payment--p">Make Partial Payment</span>
				</div>
				<div id="partialAmount" class="payment--hidden">
					<div class="payment__group">
						<input class="payment__input" type="text" id="partial-payment-amount" placeholder="Partial Payment Amount" />
						<!-- <label for="partial-payment-amount">
							Partial Payment Amount
						</label> -->
					</div>

				</div>
			</div>

			<div class="payment__switch__group">
				<div class="payment__switch__container">
					<div class="payment--switch">
						<input type="checkbox" class="payment--checkbox" name="view-line-items" />
						<label for="view-line-items" class="payment--slider"></label>
					</div>
					<span class="payment--p">View Line Items</span>
				</div>
				<div id="lineItems" class="payment__line-items payment--hidden">
					{{#each lineItems}}
						<h4 class="payment--h4">{{name}}</h4>
						<p class="payment--p">{{description}}</p>
					{{/each}}
				</div>
			</div>
			<a class="payment--link" href="/view/{{invoiceId}}">View or download this invoice</a>
		</div>

		<form action="/pay/result" method="post" id="payment-form" class="contact__form">
			<div class="payment__group">
				<input type="text" class="payment__input" id="cardholder-name" name="name" placeholder="Name" />
				<!-- <label for="cardholder-name">
					Name
				</label> -->
			</div>

			<div class="payment__group">
				<div class="payment__input" id="card-element"></div>
				<!-- <label for="card-element">
					Card Details
				</label> -->
			</div>
			<input type="hidden" name="amount" id="amount" value="{{#if balanceDue}}{{balanceDue}}{{else}}{{invoiceTotal}}{{/if}}" />
			<input type="hidden" name="invoiceId" id="invoiceId" value="{{invoiceId}}" />
			<input type="hidden" name="invoiceNo" id="invoiceNo" value="{{invoiceNo}}" />
			<input type="hidden" name="customerId" id="customerId" value="{{customerId}}" />
			<input type="hidden" name="customerName" id="customerName" value="{{clientName}}" />
			<!-- Used to display form errors -->
			<div id="card-errors" role="alert"></div>

			<p class="about--p">You will receive a receipt via email and have the opportunity to download the fulfilled invoice after paying.</p>
			<div class="contact__button__container">
				<button type="submit" class="submit contact__button" value="Submit Payment">
					<span class="contact__button--span">
						Pay $
						<span id="amountReplace">
							{{#if balanceDue}}{{balanceDue}}{{else}}{{invoiceTotal}}{{/if}}
						</span>
					</span>
				</button>
			</div>
		</form>
	{{else}}
		<div>
			<h3 class="about--h3">{{invoiceNo}} billed to {{clientName}}</h3>
		</div>
		<div>
			<h4 class="payment--h4">This invoice has been taken care of.  Thanks for your business!</h4>
			<a class="payment--link" href="/view/{{invoiceId}}">View or download this invoice</a>
		</div>
	{{/if}}
</div>
