<div class="payment">
	<div>
		<h3 class="about--h3">Pay {{invoiceNo}}</h3>
	</div>

	<div class="payment__details">
		<h4 class="payment--h4">Billed to {{clientName}}</h4>
		<p class="payment--p {{#if latePayment}}payment--warning{{/if}}">payment due {{paymentInterval}}</p>
		<div class="payment__details__totals">
			<p class="payment--p">Subtotal {{subtotal}}</p>
			<p class="payment--p">State and Local Sales Taxes {{taxAmt}}</p>
			<p class="payment--p">Total Due {{invoiceTotal}}</p>
			{{#if paymentMade}}
				<p class="payment--p">Payment Made {{paymentMade}}</p>
				<p class="payment--p">Balance Due {{balanceDue}}</p>
			{{/if}}
		</div>
		<div class="payment__partial">
			<div class="payment--switch">
				<input type="checkbox" name="partial-payment" value="1"/>
				<span class="payment--slider"></span>
			</div>
			<span class="payment--p">Make Partial Payment</span>
		</div>
		<div id="partialAmount" class="payment__partial__amount">
			<input />
			<label for="">
				Partial Payment Amount
			</label>
		</div>
		<div class="payment--switch">
			<input type="checkbox" name="view-line-items" value="1"/>
			<span class="payment--slider"></span>
		</div>
		<span class="payment--p">View Line Items</span>
	</div>
		<div id="lineItems" class="payment__lineitems">
			{{#each lineItems}}
				<h4 class="payment--h4">{{name}}</h4>
				<p class="payment--p">{{description}}</p>
			{{/each}}
		</div>
		<a href="/download/{{invoiceId}}">Download this invoice</a>
	</div>

	<form action="/pay" method="post" id="payment-form" class="contact__form">
		<div class="contact__float-label">
			<div class="contact__input" id="cardholder-name"></div>
			<label for="cardholder-name">
				Name
			</label>
		</div>

		<div class="contact__float-label">
			<div class="contact__input" id="card-element"></div>
			<label for="card-element">
				Card Details
			</label>
		</div>

		<div class="contact__float-label">
			<div class="contact__input" id="address-zip"></div>
			<label for="address-zip">
				ZIP Code
			</label>
		</div>

		<!-- Used to display form errors -->
		<div id="card-errors" role="alert"></div>

		<p class="about--p">You will have the opportunity to download the fulfilled invoice after paying.</p>
		<div class="contact__button__container">
			<button type="submit" class="submit contact__button" value="Submit Payment">
				<span class="contact__button--span">
					Pay Studio Riehl $
					<span id="amountReplace">
						{{#if balanceDue}}{{balanceDue}}{{else}}{{invoiceTotal}}{{/if}}
					</span>
				</span>
			</button>
		</div>
	</form>
</div>
